[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2-binary = "*"
vyper="*"
eth-tester="*"
web3="==5.27.0"
py-evm="*"
tox="*"
lark="*"
hypothesis="*"
# testing
pytest = "*" # required fix version once, now can go w/ the latest
pytest-cov = "*"  # run pytest coverage
pytest-xdist = "*"  # run pytest parallel
pytest-rerunfailures = "*"  # reruns failed tests
pytest-instafail="*"
pytest-split="*"
mock = "*"
testfixtures = "*"
pytest-ordering = "*"
pytest-forked = "*"
flake8 = ">=3.8.3"
pytest-factoryboy = "*"
forex_python = "*"
requests = "*"


[requires]
python_version = "3.9"
